pkgbase = slack-cli
	pkgdesc = The Slack CLI is a set of tools critical to building workflow apps for Slack. Requires Deno.
	pkgver = 2.31.0
	pkgrel = 0
	url = https://api.slack.com/automation/quickstart
	arch = any
	license = MIT
	depends = git
	depends = deno
	source = https://downloads.slack-edge.com/slack-cli/slack_cli_2.31.0_linux_64-bit.tar.gz
	md5sums = 2e4d0bfff00e73b55495d400def0a76f

pkgname = slack-cli
