pkgbase = safe-browser
	pkgdesc = A browser designed to open safe:// websites on the SAFE Network.
	pkgver = 0.10.2
	pkgrel = 1
	url = https://github.com/maidsafe/safe_browser
	arch = i686
	arch = x86_64
	groups = maidsafe
	license = custom:BeakerLicense
	makedepends = nodejs-lts-carbon
	makedepends = yarn
	makedepends = unzip
	depends = gtk2
	depends = gconf
	depends = alsa-lib
	depends = libxtst
	depends = libxss
	source = https://github.com/maidsafe/safe_browser/archive/0.10.2.tar.gz
	sha256sums = 7c3f4bf17c4d9bf7fa8334fbea250141d3a52964d08c99d0efccf55152703d9d

pkgname = safe-browser

