pkgbase = safe-browser
	pkgdesc = A browser designed to open safe:// websites on the SAFE Network.
	pkgver = 0.11.1
	pkgrel = 1
	url = https://github.com/maidsafe/safe_browser
	arch = i686
	arch = x86_64
	groups = maidsafe
	license = MIT
	makedepends = nodejs-lts-carbon
	makedepends = yarn
	makedepends = unzip
	depends = gtk2
	depends = gconf
	depends = alsa-lib
	depends = libxtst
	depends = libxss
	source = safe-browser-0.11.1.tar.gz::https://github.com/maidsafe/safe_browser/archive/0.11.1.tar.gz
	sha256sums = 35eca0848f17c061742b767fc34e44dc78e35ff9f21874280d678b9895bdefb0

pkgname = safe-browser

