pkgbase = ollama
	pkgdesc = Create, run, and share large language models (LLMs).
	pkgver = 0.0.17
	pkgrel = 1
	url = https://github.com/jmorganca/ollama
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	depends = gcc-libs
	source = ollama-0.0.17.tar.gz::https://github.com/jmorganca/ollama/archive/refs/tags/v0.0.17.tar.gz
	sha256sums = b3e749d27db645e30c4fba5da0a0601e928dc7cf2b6105b85728a18e21977344

pkgname = ollama
