pkgbase = php-codesniffer
	pkgdesc = PHP_CodeSniffer tokenizes PHP, JavaScript and CSS files to detect and fix violations of a defined set of coding standards.
	pkgver = 3.9.1
	pkgrel = 1
	url = https://github.com/PHPCSStandards/PHP_CodeSniffer
	arch = any
	license = BSD-3-Clause
	makedepends = git
	depends = php
	source = php-codesniffer-3.9.1::git+https://github.com/PHPCSStandards/PHP_CodeSniffer#commit=267a4405fff1d9c847134db3a3c92f1ab7f77909
	b2sums = SKIP

pkgname = php-codesniffer
